<%-include('include/_header') %>

<!-- MAIN -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/" class="border-shadow">
                <span class="text-gradient"> <i class="fas fa-angle-double-left"></i> All Users </span>

            </a>
        </div>
       
        <div class="form-group">
            <br>
            <h2>Update User</h2>
            <form action = "/list-data" method="POST">
            
                <label for="name" id="name-in">Name:</label> <br>
                <input type="text" name="name" id="name" placeholder="Enter Name"> <br> <br>
            
                <label for="name" id="email-in">Email:</label> <br>
                <input type="text" name="email" id="email" placeholder="Enter Email"> <br><br>
            
                <label>Gender</label>
                <input type="radio" name="gender" value="Male">
                <lable for="gender" >Male</lable>
                <input type="radio" name="gender" value="Female">
                <lable for="gender" >Female</lable> <br> <br>
            
                <label>Status</label>
                <input type="radio" name="status" value="Active">
                <lable for="status" >Active</lable>
                <input type="radio" name="status" value="Inactive">
                <lable for="status" >Inactive</lable> <br><br>
            
                <!-- <input type="submit" id="submit-btn"> -->
        
                <button type="button" id="submit-btn">Update</button>
                
            </form>
            </div>    


</div> <!-- container -->

</main>

<!-- /MAIN -->


<%-include('include/_footer') %>
