<tr>
    <td>1</td>
    <td>username</td>
    <td>ex@emil.com</td>
    <td>male</td>
    <td>active</td>
    <td>
        <a href="/update-user" class="btn border-shadow update">
            <span class="text-gradient"> <i class="fas fa-pencil-alt">edit</i> </span>
        </a>

        <a href="#" class="btn border-shadow delete">   
            <span class="text-gradient"><i class="fas fa-times">delete </i> </span>
        </a>

    </td>
 </tr>